{% extends 'base.html' %}
{% block title %} Login - Hasker {% endblock %}
{% block content %}
    <div class="col-md-4 form-page">
        <p class="break"></p>
        <h5> Log in </h5>
        <p class="break"></p>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary btn-sm">Login</button>
        </form>
    </div>
{% endblock %}