{% extends 'base.html' %}
{% block title %} Sign Up - Hasker {% endblock title %}
{% block content %}
    <div class="col-md-4 form-page">
        <p class="break"></p>
        <h5> Sign Up </h5>
        <p class="break"></p>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ user_profile_form.as_p }}
            <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
        </form>
    </div>
{% endblock %}