{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}

<div class="col-md-4 form-page">
    <br>
    <h5> Settings </h5>
    <br>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ user_form.as_p }}
        <p><label for="id_avatar">Avatar:</label>
        {% if user.userprofile.avatar %}
        <p><img src="{{ user.userprofile.image_url }}" width="100" height="100"></p>
        {% endif %}
        <p> Change: <input type="file" name="avatar" accept="image/*" id="id_avatar"></p>
        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
    </form>
</div>
{% endblock %}