{% load humanize %}
<div class="col-md-9 float-left ">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-borderless">
                {% for question in object_list %}
                    <tr height="90%">
                        <td class="align-middle" rowspan="2" width="5%"><p class="text-center">{{ question.votes }}</p><p>Vote{{ question.votes|pluralize }}</p></td>
                        <td class="align-middle" rowspan="2" width="5%"><p class="text-center">{{ question.answers }}</p><p>Answer{{ question.answers|pluralize }}</p></td>
                        <td width="60%" colspan="2"><h5><a href="{% url 'questions:question' question.id %}">{{ question.header }}</a></h5></td>
                    </tr>
                    <tr>
                        <td>
                            {% for tag in question.get_tags %}
                                <a class="btn btn-secondary btn-sm" href="{% url 'questions:search_results' %}?q=tag:{{tag}}" role="button"> {{ tag }} </a>
                            {% endfor %}
                        </td>
                        <td class="text-right text-small">Asked {{question.created_date|naturaltime}} {{ question.user }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include '_pagination.html' with form=form %}
    <p class="break"></p>
</div>
