{% extends 'base.html' %}
{% block title %} Ask - Hasker {% endblock title %}
{% block content %}
    <div class="col-md-9">
        <p class="break"></p>
        <h5> Ask a question </h5>
        <p class="break"></p>
        <div class="col-md-10">
            <form method="post" enctype='multipart/form-data' novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}