{% extends 'base.html' %}
{% block title %} Questions - Hasker {% endblock title %}
{% block content %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h5><a class="nav-link text-large {% if request.resolver_match.kwargs.orderby == '-created_date' %}disabled{% endif %}"
               href="{% url 'questions:index' '-created_date' %}">New questions<span class="sr-only">(current)</span>
            </a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link text-large {% if request.resolver_match.kwargs.orderby == '-votes' %}disabled{% endif %}"
               href="{% url 'questions:index' '-votes' %}">Hot questions <span class="sr-only">(current)</span>
            </a></h5>
        </li>
    </ul>
    <p class="break-large"></p>
{% include '_questions_list.html' %}
{% endblock content %}