{% extends 'base.html' %}]
{% load humanize %}
{% block title %} {{question.header}} - Hasker {% endblock title %}
{% block content %}
    <div class="col-md-8 float-left">
        <p class="break"></p>
        <h4> {{question.header}} </h4>
        <p class="break"></p>

        <div class="row justify-content-center">
            <p class="break"></p>
            <table class="table table-borderless">
                <tr height="90%">
                    <td class="align-top" rowspan="2" width="10%">
                        <p class="text-center">
                            {% if user.is_authenticated %}
                                <a class="arrow up" title="Like this question" href="{% url 'questions:vote_up' 'question' question.id %}"></a>
                            {% else %}
                                <a class="arrow up not-active" title="Like this question" href="{% url 'questions:vote_up' 'question' question.id %}"></a>
                            {% endif %}
                        </p>
                        <p class="text-center"> {{ question.votes }} </p>
                        <p class="text-center">
                            {% if user.is_authenticated %}
                                <a class="arrow down" title="Don't like this question" href="{% url 'questions:vote_down' 'question' question.id %}"></a>
                            {% else %}
                                <a class="arrow down not-active" title="Like this question" href="{% url 'questions:vote_down' 'question' question.id %}"></a>
                            {% endif %}
                        </p>
                    </td>
                    <td colspan="4"> {{ question.body }} </td>
                </tr>
                <tr>
                    <td width="40%">
                        {% for tag in question.tags.all %}
                            <a class="btn btn-secondary btn-sm" href="{% url 'questions:search_results' %}?q=tag:{{tag}}" role="button"> {{ tag.tag_text }} </a>
                        {% endfor %}
                    </td>
                    <td><p class="text-right text-small"> Asked {{question.created_date|naturaltime}} </p></td>
                    <td width="5%"> <img src="{{ question.user.userprofile.image_url }}" width="30" height="30"> </td>
                    <td width="5%"> {{ question.user }} </td>
                    <td width="10%"></td>
                </tr>
            </table>
        </div>

        <p class="break"></p>
        <h5> {{question.answers}} Answers </h5>
        <p class="break"></p>

        <div class="row justify-content-center">
            <p class="break"></p>
            <table class="table table-borderless">
            {% for answer in object_list %}
                <tr height="90%">
                    <td class="align-top" rowspan="2"  width="10%">
                        <p class="text-center">
                            {% if user.is_authenticated %}
                                <a class="arrow up" title="Like this answer" href="{% url 'questions:vote_up' 'answer' answer.id %}"></a>
                            {% else %}
                                <a class="arrow up not-active" title="Like this answer" href="{% url 'questions:vote_up' 'answer' answer.id %}"></a>
                            {% endif %}
                        </p>
                        <p class="text-center">{{ answer.votes }}</p>
                        <p class="text-center">
                            {% if user.is_authenticated %}
                                <a class="arrow down" title="Don't like this answer" href="{% url 'questions:vote_down' 'answer' answer.id %}"></a>
                            {% else %}
                                <a class="arrow down not-active" title="Don't like this answer" href="{% url 'questions:vote_down' 'answer' answer.id %}"></a>
                            {% endif %}
                        </p>
                        <p class="text-center">
                            {% if user.is_authenticated %}
                                <a title="This answer is correct!" href="{% url 'questions:correct_answer' answer_id=answer.id question_id=question.id %}">
                                {% if answer.id == question.correct_answer.id %} &#9733;
                                {% else %}
                                    {% if question.user == user %}
                                        &#9734;
                                    {% endif %}
                                {% endif %}
                                </a>
                            {% elif  answer.id == question.correct_answer.id %}
                                <a class="not-active" title="This answer is correct!" href="{% url 'questions:correct_answer' answer_id=answer.id question_id=question.id %}">
                                &#9733;
                                </a>
                            {% endif %}
                        </p>
                    </td>
                    <td colspan="4"> {{ answer.body }} </td>
                </tr>
                <tr>
                    <td width="40%"></td>
                    <td><p class="text-right text-small"> Answered {{answer.created_date|naturaltime}} </p></td>
                    <td width="5%"> <img src="{{ answer.user.userprofile.image_url }}" width="30" height="30"> </td>
                    <td width="5%"><p class="text-small"> {{ answer.user }} </p></td>
                    <td width="10%"></td>
                </tr>
                <tr class="border_bottom">
                    <td colspan="4"></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% include '_pagination.html' with form=form %}
        <p class="break"></p>
        {% if user.is_authenticated %}
            {% include '_answer_form.html' with form=form %}
        {% endif %}
    </div>
{% endblock content %}