{% extends 'base.html' %}
{% block title %} Search results - Hasker {% endblock title %}
{% block content %}
    <div class="col-md-4 form-page">
        <p class="break"></p>
        <h5>Search Results</h5>
        <p class="break"></p>
    </div>
{% include '_questions_list.html' %}
{% endblock content %}