tr.border_bottom td {
  border-bottom:1pt solid rgba(0, 0, 0, 0.125);
}
.navbar {
  min-height: 70px;
}
.navbar-brand {
  position: relative;
  font-size: 25px;
  left: 50px;
}
.navbar-nav {
  position: relative;
  right: 100px;
}
.arrow {
  border: solid #b00;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.text-small {
  font-size:15px;
}
.text-large {
  font-size:30px;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.break {
  padding-bottom: 0.7em;
}
.break-large {
  padding-bottom: 1.4em;
}
.color-red {
  background-color: #b00;
}