{% extends 'base.html' %}
{% block title %} Page not found - Hasker {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <h1 class="fs-headline1">Sorry... Page not found</h1>
    </div>
{% endblock content %}