{% extends 'base.html' %}
{% block title %} Server error - Hasker {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <h1 class="fs-headline1"> Sorry... something went wrong </h1>
    </div>
{% endblock content %}