<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'questions:index' '-created_date' %}">HASKER</a>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0" action="{% url 'questions:search_results' %}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="q">
      </form>
      <img src="{{ user.userprofile.image_url }}" width="40" height="40" alt="">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:settings' %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
        </li>
      {% endif %}
    </ul>
</nav>