{% block sidebar %}
    <p class="break"></p>
    <div class="col-md-3 float-right">
        <div class="ml-auto card w-40">
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <td class="align-bottom text-left"><h5>Trending</h5></td>
                        {% if user.is_authenticated %}
                            <td class="text-right"><a class="btn btn-secondary btn-sm" href="{% url 'questions:ask' %}">Ask!</a></td>
                        {% endif %}
                    </tr>
                </table>
                <table>
                {% for question in trending_questions %}
                    <tr height="50px">
                        <td class="align-top">
                            <button type="button" class="btn btn-secondary color-red">{{question.votes}}</button>
                        </td>
                        <td width="5px"></td>
                        <td class="align-center">
                            <a class="text-small" href="{% url 'questions:question' question.id %}">{{question.header|truncatechars:100}}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock sidebar %}