<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include '_navbar.html' %}
        <div class="row justify-content-center">
            <div class="col-10">
                {% include '_sidebar.html' %}
                {% block content %}
                    <p>Placeholder text in base template. Replace with page content.</p>
                {% endblock content %}
            </div>
        </div>
    </body>
</html>